---
layout: default
title: Home
---

<div class="home">
    <h1 class="page-heading">✨ 최근 포스트</h1>

    <ul class="post-list">
        {% for post in site.posts limit:10 %}
        <li>
            <div class="post-meta">{{ post.date | date: "%Y년 %m월 %d일" }}</div>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            {% if post.categories %}
            <div class="post-categories">
                {% for category in post.categories %}
                <span class="post-category">{{ category }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% if post.excerpt %}
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>